EXPO_PUBLIC_OKTA_ISSUER=https://trial-1152722.okta.com/oauth2/default
EXPO_PUBLIC_OKTA_CLIENT_ID=YOUR_CLIENT_ID_HERE
EXPO_PUBLIC_OKTA_SCOPES=openid profile email
EXPO_PUBLIC_OKTA_REDIRECT_SCHEME=installationapp
EXPO_PUBLIC_DEVICE_API_URL=

